@font-face {
    src: url("SuperMario256.ttf");
}

#black_stone {
    -fx-fill: linear-gradient(#686868 0%, #232723 25%, #373837 75%, #757575 100%);
    -fx-stroke: #303030;
    -fx-stroke-width: 2;
    -fx-stroke-line-cap: round;
    -fx-effect: dropshadow(three-pass-box, rgba(30,30,30,0.5), 1,0.0 ,0 ,1);
}

#white_stone {
    -fx-fill: linear-gradient(#d1d1d1 0%, #9e9e9e 25%, #bcbcbc 75%, #cecece 100%);
    -fx-stroke: darkgray;
    -fx-stroke-width: 2;
    -fx-stroke-line-cap: round;
    -fx-effect: dropshadow(three-pass-box, rgba(30,30,30,0.5), 1, 0.0, 0, 1);
}

#button1 {
    -fx-font-family: "Super Mario 256";
    -fx-font-size: 24px;
    -fx-text-fill: white;
    -fx-background-color: #ffd600;
    -fx-effect: dropshadow(gaussian, red, 10, 1.0, 100, 100);
}

#button1:hover {
    -fx-background-color: #ffea00;
}

#button2 {
    -fx-font-family: "Super Mario 256";
    -fx-font-size: 24px;
    -fx-text-fill: white;
    -fx-background-color: #ffab00;
}

#button2:hover {
    -fx-background-color: #ffc400;
}

#button3 {
    -fx-font-family: "Super Mario 256";
    -fx-font-size: 24px;
    -fx-text-fill: white;
    -fx-background-color: #ca498c;
}

#button3:hover {
    -fx-background-color: #f06292;
}

#button4 {
    -fx-font-family: "Super Mario 256";
    -fx-font-size: 24px;
    -fx-text-fill: white;
    -fx-background-color: #6A2C70;
}

#button4:hover {
    -fx-background-color: #8e24aa;
}
